.navContainer {
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  min-height: 100px !Important;
}

.parent-link {
  font-weight: bold;
}

.child-list, .level3-list {
  padding: 0px 0px 0px 15px;
}

.parent-list {
  padding-left: 15px
}

.parent-list, .child-list, .level3-list {
  list-style: none;
}

.nav-container ul {
  list-style: none;
}

.heading {
  font-size: 12pt;
  padding: 5px;
}