﻿/* Font and Headings*/
body {
    font-family: Arial, Helvetica, sans-serif !Important; 
}

h1, h2, h3 {
    margin: 0px !important;
}

/* System Overrides*/
.propertysheet {
    width: 100%;
}
.headtitle {
    margin-left: 40px;
}

#mainbody {
    margin-top: 10px;
}

/* Search Overrides*/
#SearchBox input[type='text'] {
    height: auto !important;
    border-radius: 0px !important;
}

/*Navbar edits*/

.navbar-default .container {
    background-color: #9bb366 !important;
}

.nav.navbar-nav .dropdown-header {
    font-size: 14px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #fff !Important;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff !Important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .megamenu > li ul > li > a:hover, .megamenu > li ul > li > a:focus, .dropdown-toggle:hover  {
    background-color: #0079bc !important;
}

.dropdown-toggle {
    font-size: 16px;
    font-weight: bold;
}

.dropdown-header a {
    color: #0079bc !important;
}

/*Suite Bar */
#suiteBarLeft {
    background-color: rgba( 239,239,239,0.78 );
}

#suiteBar {
    display: run-in;
}

#fullscreenmode {
    display:none;
}

.ms-core-suiteLink-a, .ms-core-suiteLink-a:visited, a.ms-core-suiteLink-disabled {
    color: #666;
}


/* Search Pages */
#searchIcon {
    display: none;
}

.ms-srch-people-item #UserInfoContainer {
    width: 385px !important;
}


/*Footer styles*/

.footer-container {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
}

.footer-container img {
    padding-bottom: 10px;
}

.footer-bar {
    height: 25px;
    background-color: #0079bc;
    margin-bottom: 25px;
}


/*Events*/

.registration-container {
    padding: 15px;
    background-color: #f9f9f9;
}

.register-button {
    cursor: pointer;

}