<div class="row">
    <div class="container">
        <div class="nav-group" data-ng-repeat="h in navLinks | getHeadings"  data-ng-class="{'col-md-12': columns == 1, 'col-md-6': columns == 2, 'col-md-4': columns == 3, 'col-md-3': columns == 4, 'col-md-2': columns == 5, 'col-md-2': columns == 6}">
            <div class="heading">{{h}}</div>
            <div class="navContainer">
                <ul class="parent-list">
                    <li data-ng-repeat="p in navLinks | getParentNavs: h | orderBy: 'SortOrder'" data-ng-show="p.Active" id="{{p.Id}}">
                        <a title="{{p.Notes}}" class="nav-link" data-ng-class="{'parent-link': childItems.length > 0}" href="{{p.Site}}">{{p.Title}}</a>
                        <ul class="child-list">
                            <li data-ng-repeat="c in navLinks | getChildNavs: p | orderBy: 'SortOrder' as childItems" data-ng-show="c.Active" id="{{c.Id}}">
                                <a title="{{c.Notes}}" class="nav-link" data-ng-class="{'parent-link': secondLevelChildItems.length > 0}" href="{{c.Site}}">{{c.Title}}</a>
                                <ul class="level3-list">
                                    <li data-ng-repeat="l in navLinks | getChildNavs: c | orderBy: 'SortOrder' as secondLevelChildItems" data-ng-show="l.Active" id="{{l.Id}}">
                                        <a title="{{l.Notes}}" class="nav-link" href="{{l.Site}}" data-ng-show="testAccess(l.Site)">{{l.Title}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>        
        </div>
    </div>
</div>