﻿    nav .cta {
	float: right;
	margin-top: -4px;
}
			.navbar-default{
				color: #fff;
				background-color: #0079bc;
				border-color: #aca1a2;
			}
.navbar-default .navbar-nav > li > a{
	color:#fff;
}
.dropdown-header {
    padding: 0px !important;
}

.dropdown-header a, .megamenu-item {
    color: #f5833c !important;
    font-weight: bold !important;
    
}

.dropdown-toggle:active,
.dropdown-toggle:focus {
    background-color: #f5833c !important;
}

.megamenu-item:hover {
    color: #fff !important;
}

.dropdown-header a:hover {
    background-color: #f5833c !important;
    color: #fff !important;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #fff;
	border-bottom-color: #fff;
}
.navbar-default .navbar-brand{
	color:#fff;
}
.menu-large {
	position: static !important;
}
.megamenu{
	padding: 20px 0px;
	width:100%;
}
.megamenu> li > ul {
	padding: 0;
	margin: 0;
}
.megamenu> li > ul > li {
	list-style: none;
}
.megamenu > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
}
.megamenu> li ul > li > a:hover,
.megamenu> li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
	color: #999999;
}
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.megamenu.dropdown-header {
	color: #428bca;
	font-size: 18px;
}
@media (max-width: 768px) {
	.megamenu{
	margin-left: 0 ;
	margin-right: 0 ;
	}
	.megamenu> li {
	margin-bottom: 30px;
	}
	.megamenu> li:last-child {
	margin-bottom: 0;
	}
	.megamenu.dropdown-header {
	padding: 3px 15px !important;

	}
	.navbar-nav .open .dropdown-menu .dropdown-header{
	color:#000;
	}
}
#logo { 
	padding-top: 20px;
	padding-bottom: 20px;
}

				
.searchButton {
	height: 25px;
	background-color: #0081C7;
}
								
				
.glyphicon {
	color: #fff;
}
				
				
.navbar-default .container {
	background-color: #0081C7;
					
}
				
