﻿/* Slider overrides*/

.banner-image {
    position: relative;
}

.banner-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.slide-content {
    position: absolute;
    top: 0px;
    width:100%;
}

.unslider-arrow {
    display:  none;
}
            
.unslider-nav ol li.unslider-active {
    background: #0079bc;
}


        
/*.unslider-nav {
    position: absolute;
    top:  275px;
    left:  45%;
}*/
.banner {
    position: relative;
    overflow: auto;
    width: 100%
}
.banner li {
    list-style: none;
}
.banner ul {
    padding: 0;
    margin: 0
}

.slide-content {
    height: 100%;
}

.unslider-nav ol li {
    height: 10px;
    width: 10px;
    border: 2px solid #0079bc;
}

.unslider {
    max-width: 100%;
}