﻿/* Font and Headings*/

@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=c70ae198-3b33-47af-8f2d-895fd45f6581");
@font-face{
font-family: "Trade Gothic Next LT W02 Bold";
src:url("/Fonts/170292d6-7dbe-432b-bb86-3f837e5ac49f.eot?#iefix");
src:url("/Fonts/170292d6-7dbe-432b-bb86-3f837e5ac49f.eot?#iefix") format("eot"),url("/Fonts/25892c24-e416-4b30-ae4d-7ac14c42a38b.woff2") format("woff2"),url("/Fonts/6525fe29-ddcf-4012-a3c6-7d11e3cc3098.woff") format("woff"),url("/Fonts/05efd0cc-8869-4c24-960f-dac11672cc74.ttf") format("truetype"),url("/Fonts/a7773085-bcba-4f18-88a7-e450a2e08ae7.svg#a7773085-bcba-4f18-88a7-e450a2e08ae7") format("svg");
}
@font-face{
font-family:"Trade Gothic Next LT W02 Rg";
src:url("/Fonts/a6f3fca9-fddd-48ef-bc76-f5324bb093e5.eot?#iefix");
src:url("/Fonts/a6f3fca9-fddd-48ef-bc76-f5324bb093e5.eot?#iefix") format("eot"),url("/Fonts/a235c461-39a1-4de8-8014-eeff4bb4fd27.woff2") format("woff2"),url("/Fonts/a1510bc7-e2bb-483d-b511-416bbad47095.woff") format("woff"),url("/Fonts/33b545f0-b713-4a6b-95eb-55d1cabc1655.ttf") format("truetype"),url("/Fonts/7d0b868b-34ed-4951-8695-95351922efdd.svg#7d0b868b-34ed-4951-8695-95351922efdd") format("svg");
}


body {
    font-family: "Trade Gothic Next LT W02 Rg" !Important; 
}

h1, h2, .h1, .h2 {
    font-family: "Trade Gothic Next LT W02 Bold" !Important; 
    color: #f5833c !important;
}

h3, h4, h5, h6, .h3, .h4, .h5, .h6 {
    font-family: "Trade Gothic Next LT W02 Bold" !Important; 
    color: #0079BC !important;
}



/* System Overrides*/
.propertysheet {
    width: 100%;
}

#ms-dnd-dropbox {
    left: 0px !important;
    top: 0px !important;
}

/*Logo*/

.ms-siteicon-img {
    max-width: 225px;
    max-height: 45px;
}

.ms-siteicon-a {
    max-width: 225px;
}

/*Skip Navigation*/
.skip {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
    margin-left: 15px;
    position: relative;                                                                             
}

/* Welcome Message*/
.user-name {
    text-decoration: none;
    color: #000;
}

/* Search Overrides*/
#SearchBox input[type='text'] {
    height: auto !important;
    border-radius: 0px !important;
}

/*Navbar edits*/

/*Hide OOTB Nav*/
#zz1_TopNavigationMenu {
    display: none !important;
}

.nav.navbar-nav .dropdown-header {
    font-size: 14px;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
    color: #fff !Important;
}


.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .megamenu > li ul > li > a:hover, .megamenu > li ul > li > a:focus, .dropdown-toggle:hover,.dropdown-toggle:active,.dropdown-toggle:focus  {
    background-color: #f5833c !important;
    color: #fff !important;
}
    
.dropdown-header:active,
.dropdown-header:focus,
.dropdown-header:hover {
    background-color: #f5833c !important;
    color: #fff !important;
}

.dropdown-toggle {
    font-size: 16px;
    font-weight: bold;
}

/*Suite Bar */
#suiteBarLeft {
    background-color: #0079bc;
}

#suiteBar {
    display: run-in;
}

#fullscreenmode {
    display:none;
}
/*Fixed Width*/

#s4-bodyContainer {
    max-width: 1170px;
    margin: auto auto;
    background-color: #fff;  
    min-height: 700px;  
}

#s4-workspace {
    background-color: rgba( 239,239,239,0.78 );
}


.col-sm-3.col-lg-2.ms-dialogHidden {
    display: none;
}

/* Search Pages */
#searchIcon {
    display: none;
}

.ms-srch-people-item #UserInfoContainer {
    width: 385px !important;
}

/*Tables*/

.ms-rteTableHeaderRow-default th {
    background-color: #0079BC !important;
    color: #fff !important;
    font-weight: bold !important;
    text-align: center !important;
}


/*Article Pages*/

.edit-mode-panel {
    color: #000 !important;
}

.publishing-control.publishing-options .ms-rtestate-field {
    border: 1px #999;
    background-color: #fff;
}


.publishing-control textarea {
    width: 375px !important;
}

.action {
    margin: 0px 20px 0px 0px;
    padding: 5px;
}

.action:hover {
    background-color: #f5833c;
    cursor: pointer;
    color: #005b8b;
}

.page-actions {
    padding: 5px 0px 0px 0px;
    color: #fff;
    height: 40px;
    background-color: #005b8b;
    width: 100%;
    margin-bottom: 10px;
}

.captioned-image img {
    max-width: 270px !important;
}

.publishing-options {
    padding: 15px 10px 15px 0px;
}

.publishing-options-container {
    
    margin-top: 20px;
}

.control-title {
    font-weight: bold;
}

.caption {
    max-width: 300px;
}

/*Quick Links - DIV should be a col-md-12 inside of SharePoint*/

.quickLink-container {
    max-height: 400px;
    overflow: hidden;
    border: 5px solid #eee;
}

.quicklink-edit {
    z-index: 2;
    border: 1px solid #0079bc;
    position: relative;
    top: 10px;
    background-color: #f9f9f9;
    opacity: 0.8;
    font-size: 10px;
    cursor: pointer;

}

.quicklink-edit-fix {
    position: relative;
    top: -16px;
}

.quickLink-arrow {
    border-radius: 20px;
    left: 50%;
    width: 25px;
    height: 25px;
    bottom: 10px;
    position: absolute;
    background-color:#0079bc;
    cursor:pointer;
}

.quickLink-arrow span {
    padding: 5px;
}

.quickLink {
    float: left;
    padding: 5px;
}

.quicklink-link {
    word-wrap: normal !important;
    position: relative
}

#wellmarkCarousel {
    width: 1085px;
    margin: auto auto;
    word-wrap:normal;
}

.touchcarousel-item, #wellmarkCarousel {
    height:130px !important;
}


.icon {
    float: left;
    cursor: pointer;
}

.icon img {
    height: 125px;
    width: 125px;
    padding: 10px;
}

.iconContainer .selected {
    border: 1px solid #0079BC;
}

.touchcarousel-item img{
    height: 90px;
}

.touchcarousel-container {
    width: 10000px !important;
}

.touchcarousel-item .glyphicon.glyphicon-pencil {
    color: #0079bc;
    cursor: pointer;
}

.touchcarousel-item {
    text-align: center;
    max-width: 135px;
    overflow: hidden;
    margin-right: 20px !important;
}

.touchcarousel-item a {
    color: #0079bc !important;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}



/*Tiles*/
.tile a{
    position: relative;
    display: block;
}

.tile img {
    width: 360px;
    height: 250px;
}

.tile span.title {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 121, 188, .7);
    height: 75px;
    line-height: 75px;
    padding: 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    width: 100%;
}

.tile a:hover span{
    background: rgba(0, 121, 188, 1);
}


/*Footer styles*/

.footer-container {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #fff;
}

.footer-container img {
    padding-bottom: 10px;
}

.footer-bar {
    height: 25px;
    background-color: #0079bc;
    margin-bottom: 25px;
}

/*Weather styles*/
.weather {
	height: 209px;
	background-color: #579099;
	position: relative;
	overflow: hidden;
}
			
.weather-desc {
				
	bottom: 0px;
	text-transform: uppercase;
	background-color: #569bbe;
	padding: 10px 0 10px 10px;
	position: absolute;
	width: 100%;
    color: #fff;
}

.weather-ext {
    text-transform: none !important;
    padding-right: 10px;
    color: #fff;
}
			
.weather-temp {
	font-size: 72px;
	color: #fff;
	padding: 20px 0 0 70px;
    text-align:center;
}
			
.weather img {
	float: left;
	height: 120px;
}
			
.weather small {
	font-style: italic;
	font-size: 10px;
}

/*Social*/
.social-container {
   
    height: 645px;
    overflow: hidden;
    float:left;
    width: 48.5%;
    
}



/*Announcements*/

.announcements-container {
    border: 2px solid #999;
    max-height: 467px;
    overflow: hidden;
}

.announcements-container table {
    width: 100%;
}



.announcements-container tfoot td {
    padding: 5px;
}

.announcements-container table td img {
    height: 125px !important;
}

.announcements-container table td.img-cell {
    width:130px;
}

.announcements-header {
    padding: 10px;
    background-color: #0079bc;
    color: #fff;
    text-transform: uppercase;
}

.announcements-header h3 {
    padding: 5px 0px 0px 10px;
    color: #fff !Important;
    margin-top: 0px !important;
}

.announcement-title {
    text-transform: uppercase;
    color: #0079bc;
    font-size: 14pt;
    text-decoration: none;
    cursor: pointer;
}

.announcements-container table tfoot tr {
    height: 10px;
}

.no-border {
    border: none !important;
}

.announcements-container table tbody tr img {
    padding: 12px 15px 15px 15px;
}

/*Poll styles*/
.poll {
	background-color: #569bbe;
    display: inline-block;
    height: 260px;
    width: 100%
}


.poll .btn.btn-success {
    background-color: #f5833c !important;
    border: none !important;
    border-radius: 0px !important;
    margin: 5px;
    overflow: hidden;
}

.poll-question {
    font-weight: bold;
}

.poll-title {
    height: 35px;
    background-color: #005b8b;
    color: #fff;
    font-weight: bold;
    padding: 10px 0px 0px 10px;
    text-transform: uppercase;
}		

.poll-content {
	padding: 15px;
	text-align: left;
    margin: auto auto;
    color: #fff;
    display: inline-block;
    width: 100%;
}

.poll-question-answered {
	padding: 10px;
	text-align: left;
    margin: auto auto;
    color: #fff;
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.pie-legend li {
    color: #fff;
}

.poll-graph {
    float: right;
    left: 120px;
    position: absolute;

}

.poll canvas {
    padding: 5px;
}

.poll-message {
    font-weight:bold;
    padding: 5px;
}

.poll-message.correct {
    color: green;
}

.poll-message.incorrect {
    color: red;
}

.poll-legend {
    padding-top: 20px;
    float: left;
}

.poll-legend ul {
    list-style: none
}

.poll-legend ul li span {
    width: 1em;
    height: 1em;
    margin-right: 5px;
    display: inline-block;
}

.answer {
    text-align: center;
    font-size: 18px;
}

/*Event Tiles*/



.event-tile {
	height: 117px;
	width: 117px;
	float: left;
	margin: 1px;
	padding: 3px;
}


.month {
	text-transform: uppercase;
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding-top: 30px;
}




.month.event-tile a {
    text-decoration: none !important;
    color: #fff;
}



.event-tile.month-ahead.month a {
    text-decoration: none !important;
    color: #fff;
}

			
.day {
	float: right !Important;
	color: #fff;
	font-weight: bold;
				
}
			
.day-icon {
	float: left !Important;
	color: #fff;
	font-weight: bold;
    text-transform: uppercase;
}

.event-icon {
    color: #fff;
	font-weight: bold;
    text-transform: uppercase;
}
			
.day-events {
	float: left;
	padding-top: 5px;
	color: #fff;
    width: 100%;
}

.day-events a {
    color: #fff;
    text-decoration: none;
}



.day-events a:hover {
    color: #e3e3e3;

}

/*Slides*/

.banner-image {
    position: relative;
}

.banner-image img {
    width: 100%;
    height: auto;
    max-height: 300px;
}

.slide-content {
    position: absolute;
    top: 0px;
    width:100%;
}

.slide-content {
    padding: 25px 0px 0px 25px;
}

.glyphicon-pause, .glyphicon-play {
    color: #0079bc !important;
}

/*Comments*/

#comments {
    background-color: #f9f9f9;
    padding: 25px;
}

.comment-img {
    padding: 0px 15px 15px 0px;
}

#comments-container h4 {
    color: #f5833c !important;
}

.comment-msg {
    padding-bottom: 15px;
}

.comment-title {
    width: 100%;
}
.comment-submit {
    border-radius: 0px !important;
    background-color: #0079bc !important;
}

.delete-action {
    cursor: pointer;

}

/*Likes*/

.liked {
    background-color: #f5833c;
}

/*Events*/

.registration-container {
    padding: 15px;
    background-color: #f9f9f9;
}

.register-button {
    cursor: pointer;

}
/*Learn & Do*/

.learndo-container {
    background-color: #569bbe;
    padding: 0px 0px 5px 0px;
    color: #fff;
}

.learndo-container a {
    color: #fff;
}

.learndo-container li {
    display: block;
    padding: 2px;
}

.learndo-container li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    float: left;
    padding-right: 4px;
}

.learndo-header {
    background-color: #005b8b;
    width: 100%;
    padding: 5px 5px 5px 15px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 35px;
    margin-bottom: 10px;
}

.learndo-container ul {
    margin-left: -25px;
}

